body {
  max-width: 1140px;
  margin: auto;
  font-family: 'Work Sans';
  font-size: 14px;
  background-color: #FFFEF8;
}

footer {
  flex-direction: row-reverse;
  display: flex;
  background-color: white;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;

  >span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
  }
}

h2 {
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

nav {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  li {
    padding: 0 10px;
    font-size: 1.2em;

    &:hover {
      color: #B1663C;
    }
  }
}

.main-content {
  // actif en mode admin 
  margin-top: 0rem;
}


// Bloc pour la barre de selection 
.barre-btn {
  display: flex;

  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 2rem 0rem 2rem 0;

  &__button {
    display: flex;
    flex-wrap: nowrap;
    background: transparent;
    border: solid #1D6154;
    border-radius: 25px;
    color: #1D6154;
    padding: 1rem;

    &--active {
      background: #1D6154;
      color: #FFFEF8;
    }
  }
}



// Style Edition en Admin
.en-tete {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.admin-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  gap: 1rem;

  &__edit-mode,
  &__edit-icon {

    height: 18px;
    font-size: 14px;
    line-height: 16px;
  }
}





.modif-note {
  width: 84px;
  height: 18px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  gap: 1rem;
}

.modif-note__icon,
.modif-note__text {
  display: flex;
}