.modif-window {
    position: relative;
}

// Arrière-plan assombri
.background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}


// Popup blanc
.popup {
    font-family: 'Syne', sans-serif;

    .close-icon {
        width: 24px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        z-index: 3;

        i {
            font-size: 24px;
        }
    }

    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 680px;
    padding: 15px 15px 15px;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 10px;
    z-index: 101;

    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-title {
    color: #3D3D3D;
    padding-top: 60px;
    padding-bottom: 45px;
}

// Miniatures de photos à l'intérieur du popup
.miniatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    // grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    justify-items: center;
    max-height: 400px;
    max-width: 500px;
    overflow-y: auto;
    margin: 0px 68px 40px;

}


.thumbnail-wrapper {
    flex-basis: calc(10% - 6px);
    margin: 3px;
    position: relative;


    .thumbnail {
        width: 79px;
        height: 104.08px;
        flex-shrink: 0;
        // padding: 6px;
    }

    .icon-wrapper {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 17px;
        height: 17px;
        background-color: black;
        border-radius: 2px;
        padding: 4px;

        i {
            color: white;
            font-size: 12px;
        }
    }
}

// Barre de séparation
.separator {
    width: 420px;
    height: 1px;
    background: #B3B3B3;
    margin: 20px auto;
}

// Bouton Ajouter une photo
.add-photo-btn {
    width: 237px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #1D6154;
    color: #FFF;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;

}


// <!-- Espace drop in photo -->

.photo-modifier {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-left-arrow {
        position: absolute;
        top: 15px;
        left: 15px;
        height: 21px;
        font-size: 21px;
    }

    .stand-in-photo {
        
        width: 420px;
        height: 169px;
        flex-shrink: 0;
        margin: 10px;
        background-color: #E8F1F6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #B9C5CC;

        .my-photo-icon {
            font-size: 76px;
            width: 76px;
            height: 76px;
            flex-shrink: 0;
        }

        button {
            width: 173px;
            height: 36px;
            flex-shrink: 0;
            border: transparent;
            border-radius: 50px;
            background: #CBD6DC;
            color: #306685;
            font-size: 16px;
            margin-top: 10px;
            font-weight: 500;

            font-family: 'Work', sans-serif;

        }

        p {
            color: #4445;
            text-align: center;
            font-size: 10px;
            margin-top: 5px;
        }


        .image-thumbnail {
            width: 30%; 
            height: auto;
            z-index: 103; 
          }
    }



    .input-wrapper {
        position: relative;

        .fas.fa-angle-down {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    .input-group {
        display: flex;
        flex-direction: column;

        .input-label {
            align-self: flex-start;
            color: #3D3D3D;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
            font-family: 'Syne', sans-serif;
        }
    }

    .input-field {
        border: transparent;
        width: 420px;
        height: 51px;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
        margin: 10px 0;
        padding-right: 30px;
    }



    .validate-button {
        height: 37px;
        width: 237px;
        border: transparent;
        border-radius: 60px;
        background: #A7A7A7;
        padding: 10px 30px;
        color: white;

        .button-activated {
            background: #1D6154; 
            color: white;
          }
    }
}